{% extends "layout2.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{messages[0]}}
		  </div>
	{% endif %}
{% endwith %}
	<p>Add a channel or Join a channel to begin.</p>
	<form action="/create" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="channel" id="channel" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Add Channel</button>
    </form>

	<script>
		
        if (localStorage.getItem('last_channel')) {
            // Redirect to last channel
            let channel = localStorage.getItem('last_channel');    
            window.location.replace('/channels/' + channel);   
        }

    </script>
{% endblock %}
